<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - zapat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/zapat.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img
              src="~/img/marca.png" asp-append-version="true" style="max-height: 35px; object-fit: contain;"/>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalogo" asp-action="Index">Catalogo</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="flex-grow-1">
        <main role="main">
            @RenderBody()
        </main>
    </div>

     

      <footer class="bg-dark" >
        <div class="container">
          <div class="row">
            <div class="col-md-4 pt-5">
              <h2 class="h2 text-success border-bottom pb-3 border-light logo">
                Zatil
              </h2>
              <ul class="list-unstyled text-light footer-link-list">
                <li>
                  <i class="fas fa-map-marker-alt fa-fw"></i>
                  Av. Alfredo Mendiola 3698, Independencia 15311
                </li>
                <li>
                  <i class="fa fa-phone fa-fw"></i>
                  <a class="text-decoration-none" href="tel:010-020-0340"
                    >975379231</a
                  >
                </li>
                <li>
                  <i class="fa fa-envelope fa-fw"></i>
                  <a class="text-decoration-none" href="mailto:info@company.com"
                    >Zatil11@gmial.com</a
                  >
                </li>
              </ul>
            </div>

            <div class="col-md-4 pt-5">
              <h2 class="h2 text-light border-bottom pb-3 border-light">
                Productos
              </h2>
              <ul class="list-unstyled text-light footer-link-list">
                <li><a class="text-decoration-none" href="#">Populares</a></li>
                <li><a class="text-decoration-none" href="#">Economicas</a></li>
                <li><a class="text-decoration-none" href="#">Mas vendida</a></li>
                <li>
                  <a class="text-decoration-none" href="#">Mas caras</a>
                </li>
                <li>
                  <a class="text-decoration-none" href="#">Nuevo conjunto</a>
                </li>
              </ul>
            </div>

            <div class="col-md-4 pt-5">
              <h2 class="h2 text-light border-bottom pb-3 border-light">
                Sobre Nosotros
              </h2>
              <ul class="list-unstyled text-light footer-link-list">
                <li>
                  <a class="text-decoration-none" href="#"
                    >Somos una empresa comprometida con la calidad y el estilo,
                    buscando siempre lo último en tendencias y tecnología para
                    asegurar que cada paso que tomes sea único. Nos apasiona el
                    mundo del calzado y trabajamos día a día para brindar
                    productos de buena calidad</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="row text-light mb-4">
            <div class="col-12 mb-3">
              <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
              <ul class="list-inline text-left footer-icons">
                <li
                  class="list-inline-item border border-light rounded-circle text-center"
                >
                  <a
                    class="text-light text-decoration-none"
                    target="_blank"
                    href="http://facebook.com/"
                    ><i class="fab fa-facebook-f fa-lg fa-fw"></i
                  ></a>
                </li>
                <li
                  class="list-inline-item border border-light rounded-circle text-center"
                >
                  <a
                    class="text-light text-decoration-none"
                    target="_blank"
                    href="https://www.instagram.com/"
                    ><i class="fab fa-instagram fa-lg fa-fw"></i
                  ></a>
                </li>
                <li
                  class="list-inline-item border border-light rounded-circle text-center"
                >
                  <a
                    class="text-light text-decoration-none"
                    target="_blank"
                    href="https://twitter.com/"
                    ><i class="fab fa-twitter fa-lg fa-fw"></i
                  ></a>
                </li>
                <li
                  class="list-inline-item border border-light rounded-circle text-center"
                >
                  <a
                    class="text-light text-decoration-none"
                    target="_blank"
                    href="https://www.linkedin.com/"
                    ><i class="fab fa-linkedin fa-lg fa-fw"></i
                  ></a>
                </li>
              </ul>
            </div>
            <div class="col-auto">
              <label class="sr-only" for="subscribeEmail">Correo</label>
              <div class="input-group mb-2">
                <input
                  type="text"
                  class="form-control bg-dark border-light"
                  id="subscribeEmail"
                  placeholder="Correo"
                />
                <div class="input-group-text btn-success text-light">
                  Suscribete
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="w-100 bg-black py-3">
          <div class="container">
            <div class="row pt-2">
              <div class="col-12">
                <p class="text-left text-light">
                  Copyright &copy; 2025 Compañia ZATIL | Todos los derechos
                  reservados
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    
    

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
