@model IEnumerable<zapat.Models.Producto>
@{
    ViewData["Title"] = "Catálogo";
}

<div class="fondo">
  <div class="contenido">
    <h1>¡Bienvenido a Zatil!</h1>
    <p>Soy una empresa peruana de zapatillas comprometida con la innovación, la calidad y el estilo. Creamos calzado que refleja tu personalidad y se adapta a tu ritmo de vida.</p>
  </div>
</div>



<div class="bg-registro">
  <div class="container-fluid banner-registro bg_cn_amarillo">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 text-center">
          <h2>Explora nuestra nueva colección</h2>
          <a class="text-sobre"  asp-controller="Catalogo" asp-action="Index">Productos</a>
        </div>
        <div class="col-12 col-md-6 text-center">
          <div class="contenedor">
              <img src="~/img/sobre2.gif" asp-append-version="true" class="rounded-circle img-fluid border" alt="Zapatillas Hombres" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="trabajo">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2>¿Quieres ser parte de Zatil?</h2>
        <p><strong>Estamos en constante crecimiento y buscamos aliados estratégicos y emprendedores apasionados.</strong></p>
        <p>Si estás interesado en distribuir nuestros productos o colaborar con nosotros, esta es tu oportunidad.</p>
        <div class="text-sobre">
          <a class="nav-link text-dark" asp-area="" asp-controller="Contacto" asp-action="Index">Contactanos</a>
          
        </div>
      </div>
      <div class="col-12 col-md-6 text-center">
        <div class="img-wrapper">
          <img class="img-fluid" src="~/img/marca.png" alt="Zatil Equipo" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <h2 class="text-uppercase text-success mb-4">Misión</h2>
        <p class="lead">Brindar calzado de alta calidad con diseños innovadores y cómodos, pensados para acompañar el día a día de nuestros clientes con estilo y confianza.</p>
      </div>
      <div class="col-md-6 text-center">
        <h2 class="text-uppercase text-primary mb-4">Visión</h2>
        <p class="lead">Ser reconocidos como la marca líder de zapatillas en Perú y expandirnos a nivel internacional, destacando por nuestro compromiso con la excelencia y la autenticidad.</p>
      </div>
    </div>
  </div>
</div>




<link rel="stylesheet" href="~/css/Nosotros.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/templatemo.css" asp-append-version="true" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
  .contenedor {
    position: relative; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
}

.contenedor img {
    width: 50%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
     object-position: right center;
}



</style>
