@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<br><br><br><br><br>

<div class="container d-flex justify-content-center">
    <div class="login-card">
        <div class="text-center mb-4">
            <img
            src="~/img/marca.png" asp-append-version="true" style="max-height: 55px; object-fit: contain;"/>
        </div>
        <h2 class="text-center">Inicia sesión</h2>
        <form id="account" method="post">
            
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Correo</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Ingresar</button>
            </div>
            <div >
               
                <p>
                    <a class="privacy-link" asp-page="./Register" >¿No tiene una cuenta? Regístrese</a>
                
                
            </div>
        </form>
    </div>
</div>
<br><br><br><br><br>
        
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
