.carrito-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 0 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.carrito-left,
.carrito-right {
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.carrito-left {
  flex: 2;
}
.titulo,
.titulo-resumen {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.carrito-right {
  flex: 1;
  height: fit-content;
}

.producto-card {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 25px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.producto-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 4px;
}

.producto-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.producto-info h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.producto-interacciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producto-info p {
  margin: 5px 0;
  font-size: 14px;
}

.cantidad-controls {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  height: 35px;
}

.cantidad-controls form button {
  width: 35px;
  height: 100%;
  border: none;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.cantidad-controls span {
  width: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 35px;
  border: none;
}

.acciones {
  margin-top: 10px;
}

.acciones a {
  font-size: 14px;
  text-decoration: underline;
  color: black;
}

.precio-original {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.precio-descuento {
  color: #020202;
  font-size: 16px;
  font-weight: bold;
}
.resumen {
  padding-top: 10px;
}

.resumen p {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.item-imagen {
  width: 100px;
  height: 100px;
  object-fit: contain;
  flex-shrink: 0;
}

.resumen hr {
  margin: 15px 0;
  border: none;
  border-top: 1px solid #ddd;
}

.resumen .total {
  font-weight: bold;
  font-size: 18px;
}

.btn-primary {
  background-color: #3483fa;
  border: none;
  height: 45px;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
}

.btn-pagar:hover {
  background-color: #2968c8;
}
