body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
}
.catalogo-container {
  max-width: 1550px;
  margin: 0 auto; /* Centra horizontalmente */
  padding-left: 60px;
  padding-right: 60px;
}


.card {
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.card-img-actions {
  width: 100%;
  height: 350px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-img-actions img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}

.card-body h5 {
  font-weight: 600;
  font-size: 1.1rem;
}

.card-text {
  color: #6c757d;
  font-weight: 500;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-info {
  background-color: #17a2b8;
  border: none;
}

.btn-info:hover {
  background-color: #117a8b;
}

.shop-top-menu .text-dark {
  font-weight: 500;
  transition: color 0.2s;
}

.shop-top-menu .text-dark:hover {
  color: #007bff;
}

.templatemo-accordion a {
  font-size: 1rem;
  color: #343a40;
}

.templatemo-accordion a:hover {
  color: #007bff;
}

.templatemo-accordion i {
  color: #6c757d;
}
